<p-card class="block w-10 mt-3 m-auto p-2">
  <p-messages *ngIf="alertMessage" [(value)]="alertMessage" [enableService]="false" [closable]="true" />

  <div class="container">
    <div>
      <h2 class="m-0">Overview</h2>
      <p class="my-2">Showcasing {{chartSettings.selectedCoin.toUpperCase() }} price in
        {{chartSettings.selectedCurrency.toUpperCase()}} this month</p>
    </div>

    <div class="lg:flex md:block">
      <div class="flex sm:w-12 lg:w-4 px-1 mb-1">
        <p-dropdown [options]="options.currencies" (onChange)="currencyChanged($event)"
          class="w-full shadow-1 inline-block dropdown">
        </p-dropdown>
      </div>

      <div class="flex sm:w-12 lg:w-4 px-1 mb-1">
        <p-dropdown [options]="options.coins" (onChange)="coinsChanged($event)"
          class="w-full shadow-1 inline-block dropdown">
        </p-dropdown>
      </div>

      <div class="flex sm:w-12 lg:w-4 px-1 mb-1">
        <p-dropdown [options]="options.days" (onChange)="setDateRange($event)"
          class="w-full shadow-1 inline-block dropdown">
        </p-dropdown>
      </div>
    </div>

    <div *ngIf="chartData$ | async as data">
      <p-chart type="line" [data]="data" [options]="options.chartOptions" class="chart"></p-chart>
    </div>
  </div>
</p-card>