<div class="container">
  <div class="filter-box">
    <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" (onChange)="focusOut($event)" class="dropdown">
    </p-dropdown>

    <p-dropdown [options]="coins" [(ngModel)]="selectedCoin" (onChange)="focusOut($event)" class="dropdown">
    </p-dropdown>

    <p-inputNumber type="number" [(ngModel)]="days" (focusout)="focusOut($event)"
      placeholder="Number of Days"></p-inputNumber>
  </div>
  <p-chart type="line" [data]="chartData" [options]="chartOptions" class="chart"></p-chart>

  <div class="date-range-buttons">
    <button (click)="setDateRange(1)" [ngClass]="getClass(1)">1D</button>
    <button (click)="setDateRange(7)" [ngClass]="getClass(7)">7D</button>
    <button (click)="setDateRange(30)" [ngClass]="getClass(30)">1M</button>
    <button (click)="setDateRange(365)" [ngClass]="getClass(365)">1Y</button>
  </div>
</div>