html {
  font-size: 14px; /* Default size for larger screens */

  body {
    // height: auto;
    margin: 0;
    background-color: rgb(249, 250, 252);
    .container {
      max-width: 1170px;
      margin: auto;
    }
    .currencySelector {
      margin: 20px 0;
    }
    .dropdown {
      margin-right: 20px;
    }

    .p-dropdown {
      width: 100%;
    }
    .p-inputnumber {
      width: 100%;
    }
    .p-card {
      border-radius: 1rem;
    }
  }
  .chart-container {
    width: 100%; /* The chart will resize based on the container’s width */
    max-width: 1000px; /* Optionally set a maximum width */
    height: auto; /* The height will be automatically calculated based on the aspect ratio */
  }

  .chart {
    display: block;
    width: 100%;
    height: auto; /* Let the chart take full width and calculate height */
  }
}

@media (max-width: 1024px) {
  html {
    .container {
      max-width: 900px;
    }
  }
}

@media (max-width: 768px) {
  html {
     .container {
      max-width: 700px;
    }
  }
}
@media (max-width: 435px) {
  html {
    font-size: 12px;
    .container {
      max-width: 340px;
      .days-input {
        margin-top: 10px;
      }
    }
  }
}
